<div data-drupal-selector="google-field-wrapper">
  <label for="{{ input_name }}">{{ label }}</label>
  <input type="file" name="{{ input_name }}" />
  <input type="hidden" name="bytestream-{{ input_name }}" />
</div>
